html, body {
  background-color: #21232A;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  padding: 70px;
}

#counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p{
  background-color: white;
  color: #21232A;
  padding: 5px;
  width: 145px;
  border-radius: 10px;
  text-align: center;
}

button {
  font-size: 0.9rem;
  padding: 6px;
  margin-right: 8px;
}
